.btn{
  background-color: $color1Gray;
  color: $color2Orange;
  text-decoration: none;
  padding: .2rem .6rem;
  display: inline-block;
  position: absolute;
  top: 17px;
  right: 30px;

  @mixin atSmall{
    padding: .75rem 1.2rem;
  }

  &--orange{
    background-color: $color1Gray;
  }

  &--large{
    display: none;
    font-size: 1rem;
    padding: .6rem .6rem;
  }
}
